@mainColor: #337ab7;;
@secondColor:rgba(64, 152, 226, 0.49);
@gradientColor: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(51, 122, 183,0.8)), to(rgba(255,255,255,0.8)));;
@textColor: #23547c;;
@import "pizza/pizza-card";
@import "pizza/header";

*{
  font-family: "Comic Sans MS";
 color:@textColor;
  text-align: center;
}
.param {

  float: left;
}

.image{
  max-width: 160px;
}
.top-text{
  color: @textColor;
  display: inline-block;
}


.text{
  text-decoration: none;
  width: 40%;
  height:30px;
  resize: none;
  margin: 5px;
  border-radius: 0 10px ;
  border:2px solid @mainColor ;
  float: left;
  color: @textColor;
.all{
  text-align: center;
}
}
.nav{

  #all{
    text-align: center;
  }

  .li {
    color: @textColor;
text-align: center;

  }
}
.main-container{
  padding-top: 100px;
}

.left-panel{
  padding-left:120px;
  text-align: center;

  .pizza-list{
    text-align: center;
    padding-top: 50px;

  }

}
.right-panel {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;

//flex-box: ; погуглити
  margin-left: 20px;
  padding-right: 0px !important;
  padding-left: 0px !important;

  min-width: 260px;
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 10px;

  z-index: 1000;

  .order-list-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
  }
  //.flex-container {
  //  display: flex;
  //
  //  flex-direction: column;
  //  justify-content: space-between;
  //  align-items: stretch;
  //
  //}
  .flex-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;

  }

  .flex-item {


  }

  }
  .item1 {
    width: 100%;
    margin: 10px;
    box-sizing: content-box;
    display: block!important;
  }
  .item2 {

    -webkit-box-flex: 1;
    width: 100%;
    height: 100%;
    margin: 10px;
    box-sizing: content-box;
    display: block!important;
  }

  .item3 {
    width: 100%;
    //height: 100%;
    margin: 10px;
    box-sizing: content-box;
    display: block!important;
  }

footer{
  padding-right: 330px!important;
  background:  -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.8)), to(rgba(51, 122, 183,0.8)));
  height: 100px;
  text-align: center;
  p{
    display: block;
    -webkit-margin-before: 3em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}



.style1 {
  background-color: @secondColor;
  height: 50px;
  padding: 5px;
  margin: 3px;
  width: 100%;
  text-align: center;
  border-radius: 0 10px ;
  box-shadow: 4px -4px 3px @mainColor;
  #foot{
    position: fixed !important;
    right: 0;
    bottom: 0;
  }

}

.box{
  display: inline-block;
}
.area {
  width:80%;
  height:30px;
  resize: none;
  margin: 5px;
  border-radius: 0 10px ;
  border:2px solid @mainColor ;
  float: left;
}
.button {
  background: @gradientColor;;
  -webkit-border-radius: 30px;
  margin-top: 15px;
  border: 2px solid @mainColor;
  color: white;
}
.addButton{
  background: @gradientColor;
  -webkit-border-radius: 30px;
  margin-top: 15px;
  border: 2px solid @mainColor;
  color: white;
}
.button-plus {
  background: @gradientColor;
  -webkit-border-radius: 30px ;
  margin-top: 15px;
  border:2px solid @textColor ;
  color: white;
}
.button-minus {
  background: @gradientColor;
  -webkit-border-radius: 30px;
  margin-top: 15px;
  border: 2px solid @textColor;
  color: white;
}
.button-buy {
  background: @gradientColor;
  -webkit-border-radius: 30px;
  margin-top: 15px;
  border: 2px solid @textColor;
  color: white;
}
.button-not-buy {
  background: @gradientColor;
  -webkit-border-radius: 30px;
  margin-top: 15px;
  border: 2px solid @textColor;
  color: white;
}
.button-delete {
  background: @gradientColor;
  -webkit-border-radius: 30px ;
  margin-top: 15px;
  border:2px solid @textColor ;
  color: white;
}
.counter {
  background-color: white;
  border-radius:  5px ;
  border: none;
  padding: 2px;
  width: 100%;
  text-align: center;
 color: @textColor ;
}
.square {
  width: auto;
  background-color:@mainColor ;
  border-radius:  5px ;
  border-color: white;
  text-align: center;
  color: white;
  padding: 2px;




}
.square1 {

  background-color:@textColor ;
  border-radius:  5px ;
  border:none ;
  text-align: center;
  color: white;

}

