

    <div class="discount-panel">
        <div class="discount-before1">
        </div>
        <div class="discount-title">
            Цього тижня<br> на все
        </div>
        <div class="discount-text">
            -20%
        </div>
    </div>
    <div class="navbar navbar-fixed-top top-panel ">
        <div class="site-icon">
            <div class="discount-before top-discount">
            </div>
            <div id="pizza-title2" class="title-1">
                Pizza
            </div>
            <div class="title-2">
                KMA
            </div>
        </div>
        <div class="header-top-row">
            <div class="main-header-top-item phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="main-header-top-item work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="main-header-top-item delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div id="sing" type="button" class="main-header-top-item btn btn-default  sign-in-button">
                Ввійти
            </div>
        </div>

        <div class="header-down-row">
<span class=" pizza-page" style="color:#23547c;">
<a href="/index.html" style="color:#23547c;" >Піца</a>
</span>

        </div>
    </div>
</div>
</DIV>