<div class="row mainTitle sidePanel" xmlns="http://www.w3.org/1999/html">


    <div class="col-md-3 col-sm-4 col-xs-6 right-panel">


        <div class="flex-container">
            <div class="flex-item item1 "></u>
                <div class="style1"style="font-size: 20px; margin-bottom: 5px"><b>Замовлення</b>
                    <span class="allPizzasNumber">0</span></div>
            </div>
            <div class="flex-item item2">
                <div id="cart">

                </div>
                <button class="button" id="deleteOrders">Очистити замовлення
                </button>
        </div>



            <div class="flex-item item3">
                <div class="style1"><h4 style="display: inline-block; margin-right: 10px"><b>Сума замовлення:</b></h4><h4
                            style="display: inline-block"><b><span id="sum">0</span> грн</b></h4></div>

                <button class="btn btn-primary btn-lg" style="margin-top: 3px" id="order">Замовити</button>

                <button class="btn btn-default btn-lg invisible" style="margin-top: 3px" id="editOrder">Редагувати замовлення</button>
            </div>
        </div>





</div>
