.sidePizza {

  img {
    max-width: 100px;
  }

  h3 {
    color: darken(@mainColor, 10%);
    font-weight: bold;
  }

  h2{
    font-weight: bold;
  }


}
.remark{
  color: lighten(@secondColor, 50%);
  font-size: @textSize/1.25;
}