.pizza-card {
  min-height: 515px;
  img {
    max-width: 70%;
  }
  div .p{
    max-width: 100%;
    max-height: 10px;
  }
  .label-success {
    background-color: #5cb85c;
  }
  .label {
    display: inline;
    //padding: .2em .6em .3em;
    //padding-top: -10em!important;
    position: absolute;
    right: 0;
    top: 0;

    //font-size: 75%;
    //font-weight: 700;
    //line-height: 1;
    //color: #fff;
    //text-align: center;
    //white-space: nowrap;
    //vertical-align: baseline;
    //border-radius: .25em;
  }
}