.pizza-card {
  min-height: 515px;
  img {
    max-width: 70%;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }

  div .p{
    max-width: 100%;
    max-height: 10px;
  }

}